
    #toc ol li, #toc ol li a {font-size: 12pt;}
    span.term {font-weight: bold; border: 1px solid silver; border-radius: 3px; background-color:lightyellow;}
   /*
    .term:before {
     content: "term"; font-size: 8pt; color: white; padding: 3px; border-radius: 3px; background: silver;
     margin-right:3px; margin-top:-10px; font-weight: normal;
    }*/
    p.date, p.ref {text-align: right; font-style: italic; color: #667666;}
    p.ref {text-align:right;}
    p.date:before, p.ref:before {
      content: "date"; font-size: 8pt; color: white; padding: 5px; border-radius: 5px; background: silver;
      margin-right:5px;
    }
    p.ref:before {
      content: "ref";
    }
    .subhead:after {content: "subhead"; font-size: 8pt; color: white; padding: 5px; border-radius: 5px;
      background: silver; margin-left:5px; margin-top:-5px;}
/*
    p.section {margin-top:3em; padding: 5px; border: 1px solid gray; background: silver; border-radius: 5px;}  */
    .section_title:after, section:after {
      content: attr(id); font-size: 8pt; color: white; padding: 5px;
      border-radius: 5px; background: silver; margin-left:5px; margin-top:-15px; font-weight: normal;
      vertical-align: middle;
    }

    .title:before {content: "title"; font-size: 8pt; color: white; padding: 5px; border-radius: 5px;
      background: silver; margin-right:5px; margin-top:-15px; font-weight: normal; }

    .author:before {content: "author"; font-size: 8pt; color: white; padding: 5px; border-radius: 5px;
      background: silver; margin-right:5px; margin-top:-15px; font-weight: normal; }
    .subtitle:before {content: "subtitle"; font-size: 8pt; color: white; padding: 5px; border-radius: 5px;
      background: silver; margin-right:5px; margin-top:-15px; font-weight: normal; }

   q:before {
      content: '';
    }

    q.unknown {background: yellow;}
    q.bab {color: darkgreen;}

    span.note.short { font-style: italic; color: gray; padding:0; font-size: .95em;}
    span.note.short:before {content: "(";}
    span.note.short:after {content: ")";}

    span.note.med { font-style: italic; border: 1px solid silver; border-radius: 5px; font-weight:bold; padding:0; font-size: .75em;}
    span.note.med:before {content: "note: "; border-radius: 5px; background: silver; margin-right:5px; margin-top:-15px; font-weight: normal;}

    span.note.long {display:none; border: 1px solid silver; border-radius: 4px; background-color:lightgreen; }


   .ref {padding-top:0; margin-top:-1em; font-size: 80%;}

@media print {
  .subhead:after {display:none;}
  .ref:before {display:none;}
  .title:before {display:none;}
  .subtitle:before {display:none;}
  .author:before {display:none;}
  .title:before {display:none;}
  span.term {border: 0;  background-color:white; font-weight: inherit;}
  q.unknown {background: white;}
  .section_title:after, section:after {display: none !important;}
  span.note.med { font-weight: normal;}
}























